<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="DAL.Properties.Settings.AppConnectionString" connectionString="Data Source=10.3.60.41;Initial Catalog=MerchantAppDB;User ID=cbetick;Password=@WSXzaq!cbe"
   providerName="System.Data.SqlClient" />
  <add name="DAL.Properties.Settings.FuelDBConnectionString" connectionString="Data Source=10.3.60.41;Initial Catalog=FuelDB;User ID=cbetick;Password=@WSXzaq!cbe"
   providerName="System.Data.SqlClient" />
  <add name="DAL.Properties.Settings.AppConnectionStrings" connectionString="Data Source=HGF80-KL89;Initial Catalog=MerchantDashboard;User ID=User"
   providerName="System.Data.SqlClient" />
  <add name="DAL.Properties.Settings.MerchantDashboardConnectionString"
   connectionString="Data Source=MB-S570\MSSQLSERVER2;Initial Catalog=MerchantDashboard;User ID=test;Password=test1"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>
